{% extends 'layout/app.html' %}
<!-- Content -->
{% block content %}
    <h1>Mis datos de registro</h1>
    
{% endblock %}
<!-- Modals -->
{% block modals %}

{% endblock %}
<!-- Styles -->
{% block css %}

{% endblock %}
<!-- Scripts -->
{% block js %}
<!-- Page level plugins -->
<script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
<script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
{% endblock %}



